PORT=3000

# Node Environment
NODE_ENV=development

# Database URI
MONGODB_URI=

# Redis URI
REDIS_URI=

# Password hashing salt rounds
SALT_ROUNDS=

# Phone number encryption
ENCRYPTION_KEY=
ENCRYPTION_ALGO=

# Token Generation Secrets
ADMIN_ACCESS_SECRET=
ADMIN_REFRESH_SECRET=

USER_ACCESS_SECRET=
USER_REFRESH_SECRET=

PENDING_AUTH_SECRET=

# SMTP server cred. for sending emails
SMTP_USER=
SMTP_PASS=

# Google Login/Signup
CLIENT_ID=
CLIENT_SECRET=

# Domain of the front end 
FRONTEND_URL=